.botaoAzul{
    height: 70px;
    width: 300px;
    background-color: #4BA2C1;
    border-radius: 50px;
    border: none;
    font-family: 'inspiration', cursive;
    font-size: 40px;
    color: #ffff;
}

.botao{
    background: none;
    border: none;
    font-family: "Italiana", sans-serif;
    font-size: 20px;
    font-weight:bold;
}
.botaoFechar{
    height: 50px;
    position: absolute;
    top: 4%;
    left: 7%;
    background-color: #4BA2C1;
    border-radius: 100%;
    padding: 0.3%;
    cursor: pointer;
    z-index: 1;   
}

.botaoAbrir{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    font-family: "Italiana", sans-serif;
    font-size: 20px;
    color: black;
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.botaoCriar{
    width: 700px;
    height: 70px;
    border-radius: 50px;
    background-color: rgb(129, 201, 248);
    font-family: 'inspiration', cursive;
    font-size: 60px;
    color: white;
}