body{
    display: flex;
    flex-direction: column;
    font-family: 'Inspiration', cursive;
    height: 100vh;
    padding: 32px 24px;
    background: rgb(190,242,249);
    background: linear-gradient(180deg, rgba(190,242,249,1) 0%, rgba(6,113,159,1) 100%);
}

.titulo{
    font-size: 100px;
    text-align: center;
    color: #ffff;

}
.titulo>h2{
    font-weight: lighter;
}

.perfil{
    display: flex;
    background-image: url(../img/image\ 4.png);
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    background-size: 55px;
}


.perfil>h6{
    font-size: 30px;
    text-align: end;
}


