body{
    display: flex;
    flex-direction: column;
    font-family: 'Inspiration', cursive;
    height: 100vh;
  
    background: rgb(190,242,249);
    background: linear-gradient(180deg, rgba(190,242,249,1) 0%, rgba(6,113,159,1) 100%);
    /* overflow-y: hidden; */

}

/* header inicio */
header{
  padding: 32px 24px;
}

.inicio{
    width: 40px;
}
.perfil{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-size: 55px; 
}
.perfil>h6{
    font-size: 20px;
    font-family: "Italiana", sans-serif;
}

/* .premium{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    
    background-size: 55px;
}

.premium>h6{
    font-size: 20px;
    font-family: "Italiana", sans-serif;
} */


.titulo{
    font-size: 90px;
    text-align: center;
    color: #ffff;

}
.titulo>h2{
    font-weight: lighter;
}

/* header final */


main{
    display: flex;
    align-items: center;
    gap: 305px;
}

.newTask{
    
}
.novaTarefa, .editarTarefa{
    width: 50vw;
    height: 70vh;
    background-color: rgba(44, 43, 43, 0.7);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 60px;
    font-family: "Italiana", sans-serif;
}

.novaTarefa>input, .editarTarefa>input{
    height: 50px;
    width: 40%;
    border: none;
    font-size: 30px;
    padding: 2%;
    border-radius: 16px;
    font-family: "Italiana", sans-serif;
    font-weight: bolder;
}

textarea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(178, 216, 241);
    border-radius: 30px;
    height: 19%;
    width: 20%;
    font-family:"Italiana", sans-serif;
    font-size: 30px;
    overflow: hidden;
}

fieldset>p{
    font-size: 17px;
}
fieldset>div>div{
    font-size: 17px;
}

textarea{
    width: 40%;
    height: 30%;
}



.tarefas{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    flex-direction: column;
    width: 500px ;
}

.tarefas>h3{
    font-weight: lighter;
    font-size: 60px;
}

.listarTarefas{
    width: 400px;
    height: 590px;
    background-color: #ffff;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 10px;
}
.listarTarefas::-webkit-scrollbar{
    display: none;
}
.listarTarefas img{
    height: 60px;
}
#filtroButton{
    cursor: pointer;
}


.tarefasConcluidas{
    width: 70px;
    display: flex;
    margin-top: 440px;
}


.mostrarFeitas{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 70px;

}

.mostrarFeitas>h3{
    font-size: 20px;
    font-family:  "Italiana", sans-serif ;
}


